header nav ul li a {
    font-size: 1.2rem;
}
.line{
	display:none;
}
h2 {
    text-align: left;
    margin-left: 6.5rem;
}
.access {
    list-style: disc;
    margin-left: 2rem;
    text-align: left;
    list-style-position: inside;
    font-size: 0.9rem;
}
.yellow {
    background-color: #E8D152;
}
@media only screen and (min-width: 37.5em) {
    header nav ul li a {
        font-size: 1rem;
    }
    .line{
        vertical-align: middle;
        align-items: center;
        display: flex;
    }
    .access {
        margin-left: 5rem;
        font-size: 1rem;
    }
    .yellow {
        margin-right: 5em;
    }
}
@media only screen and (min-width: 67em) {
    header nav ul li a {
        font-size: 1.3rem;
    }
    .access {
        margin-left: 10rem;
        font-size:1.2rem;
    .yellow {
        margin-right: 15em;
    }
}
}

