@media only screen and (min-width: 32.5em) {
    header, nav, main, section, footer {
        max-width: 800px;
    }
    .grid-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .repetition {
       display: block;  
    }
    .space {
        display: block;
    }
    .contrast{
        grid-column: span 2;
    }
    main section div img {
        display: block;
    }
    main section div p, a, footer p { 
        font-size: 1rem;
    }
    .normal-1 {
        display: none;
    }
    .medium-1 {
        display: block;
        max-width: 100%;
    }
}

@media screen and ((min-width: 45em) or (orientation: landscape)) {
    header, nav, main, section, footer {
        margin: 0.5rem auto;
        max-width:750px;
    }
    main section div img {
        min-width: 98%;
        margin-top: 0.5rem;
    }
    .normal {
        display: none;
    }
    .medium {
        display: block;
    }   
}