@media only screen and (min-width: 32.5em) {
    header, nav, main, section, footer {
        max-width: 550px;
    }

    .grid-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .repetition {
       display: block;
       
    }

    .space {
        display: block;
        
    }

    .contrast {
        grid-column: span 2;
    }

    main section div img {
        display: block;
    }

    .contrast img {
        max-width: 400%;
        margin-left: auto;
        margin-right: auto;
    } 
}
