body {
    font-family: 'Almarai', arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
header, nav, main, section, footer {
    margin: 0.5rem auto;
    max-width: 300px;
}
header, footer {
    background-color:#0a2032;
    color: #fbfbfb;
    text-align: center;
}
header {
    display: block; 
    padding: 1.5rem;
}
header h1 {
    margin-top: auto;
    font-size: 1.6rem;
}
header h2 {
    margin-bottom: auto;
    font-size: 1.3rem;
}
.grid-main {
    display: grid;
    grid-template-columns: 1fr;
}
main section {
    background-color: #3a4958;
    border: 1px solid #3a4958;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px; 
    margin: 0.5rem; 
}
main section h3 {
    color: #fbfbfb;
    font-size: 1.2rem;
    padding-left: 1rem;   
}
main section div{
    background-color: #eeeeee;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}
main section div img {
    border: 1px solid #3a4958;
    max-width: 100%;
    margin-top: 0.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main section div p, a{
    padding: 0 0.5rem;
}
main section div p, a, footer p { 
    font-size: 0.8rem;
}
.medium, .medium-1 {
    display: none;
} 
footer {
    line-height: 1.2rem;
    padding: 0.8rem;
}

@media screen and (orientation: landscape) {
    header, nav, main, section, footer {
        margin: 0.5rem auto;
        max-width: 450px;
    }
    main section div img {
        min-width: 95%;
        margin-top: 0.5rem;
    }

    .normal, .normal-1 {
        display: none;
    }
    .medium, .medium-1 {
        display: block;
        max-width: 70%;
    }
}