@media only screen and (min-width: 67em) {
    header, nav, main, section, footer {
        max-width: 1350px;
    }
    nav ul {
		display: grid;
		grid-template-columns: minmax(140px, 350px) repeat(auto-fill, 350px) 33.33%;	
	} 
    nav a {
        font-size: 1.6rem;
    }
    main h1 {
        font-size: 1.6rem;
    }    
    main h2 {
        font-size: 1.4rem;
    } 
    main h3 {
        font-size: 1.3rem;
    }
    main p {
        font-size: 1.2rem;
        padding-left: 100px;
        padding-right: 100px;
    }
    footer p {
        padding: auto;
        font-size: 1rem;
    }
}