@media only screen and (min-width: 34.5em) {
    header, nav, main, section, footer {
        max-width: 800px;
    }
    header {
        letter-spacing: 0.2rem;
    }
    nav ul {
		display: grid;
		grid-template-columns: minmax(140px, 250px) repeat(auto-fill, 250px) 33.33%;	
	} 
    .rivoli-nav ul {
		display: grid;
		grid-template-columns: minmax(150px, 200px) repeat(auto-fill, 200px) 16.66%;	
	} 
    .rivoli-nav {
        padding: 0.5 rem auto;
    }
	nav a {
		font-size: 1.3rem;
        padding: 1rem;
        margin: 1rem;
	}
    main h1 {
        
        font-size: 1.4rem;
    }
    main h2 {
        font-size: 1.3rem;
    }
    main h3 {
        font-size: 1.1rem;  
    }
    main p {
        font-size: 1rem;
        padding-left: 50px;
        padding-right: 50px;
       }
    .colors{
        font-size: 1.2rem;
    }  
    .accent2 {
        font-size: 1.3rem;
    }
    footer {
        font-size: 0.9rem;
    }
   
}