@media only screen and (min-width: 34.5em) {
    header, nav, main, section, footer {
        max-width: 800px;
    }
    header nav ul {
        display: flex;
		/*display: grid;
        grid-template-columns: repeat(3, 1fr);*/
	} 
    header nav ul li {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .rivoli-nav ul {
		display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        align-items: center;
	} 
	nav a {
		font-size: 1.3rem;
        padding: 1rem;
        margin: 1rem;
	}
    main h1 {   
        font-size: 1.4rem;
    }
    main h2 {
        font-size: 1.3rem;
    }
    main h3 {
        font-size: 1.1rem;  
    }
    main p {
        font-size: 1rem;
        padding-left: 50px;
        padding-right: 50px;
       }
    .colors{
        font-size: 1.2rem;
    }  
    .accent2 {
        font-size: 1.3rem;
    }
    .persona{
        display: grid;
        grid-template-columns: 5% 42.5% 5% 42.5% 5%;	
    }
    main article p {
        margin-left: 5%;
    }
    .maria {
        grid-column: 2/3;
        padding: 0;
    }
    .luis {
        grid-column: 4/5;
        padding: 0;
    }
    footer {
        font-size: 0.9rem;
    }  
}