body {
    color: rgb(5, 75, 165);
    background-color: rgba(43, 122, 226, 0.105);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1;
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
}
.small {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}
.medium {display: none;}
.cards, .nUtah, .utah {
    display:grid;
    grid-template-columns: 1fr;
}
section {
    padding-top: 0.5rem;
    border: 1px solid rgb(43, 122, 226);
    background-color: rgb(185, 203, 230);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 2rem;
}
section div {
    border-top: 1px solid rgb(43, 122, 226);
    border-bottom: 1px solid rgb(43, 122, 226);
}
section div p { 
    color: rgb(4, 33, 71);
    font-weight: bold;
}
section div span {
    color: rgb(5, 75, 165);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
footer p {
    margin: 2rem 0;
    font-size: 0.9rem;
    padding: 2rem 0 0 0;
    border-top: 1px solid rgb(105, 116, 118);
}
.links ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.links ul  {
    padding-top: 1rem;
    margin-top: 2rem;
    border-top: 1px solid rgb(105, 116, 118);
}
.links ul li {
    border: 2px outset rgb(4, 33, 71);
    background-color: #ffffff;
    color: rgb(4, 33, 71);
    font-weight: bold;
    border-radius: 5px;
    font-size: small;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
}
.links ul li:hover,
.links ul li.active {
    color: white;
    background-color:  rgb(4, 33, 71);
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem;
}

@media only screen and (min-width: 23em) { 
    .medium {display: inline;}
    .small {display: none;}
    .cards, .nUtah, .utah {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
   }
    section {
        border-radius: 15px;
        border: none;
        width:280px;
        margin: 2rem auto;
        padding: 0.5rem 2.5rem;
        box-shadow: 10px 10px 5px rgb(105, 116, 118);
        border-bottom: 1px solid rgb(105, 116, 118);
        border-right: 1px solid rgb(105, 116, 118);
    }
    section div {
        border: 2px outset rgb(43, 122, 226);
        border-radius: 10px;
    }
    img {
        margin: 2rem auto;
        box-shadow: 10px 10px 5px rgb(72, 76, 77);
        max-width: 200px;
        height: auto;
    }
    footer p {
        font-size: 1.3rem;
    }
    .links ul li {
        font-size: large;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        margin-top: 1.5rem;
    }
}
@media only screen and (min-width: 64em) { 
    .links ul li {
        font-size: 1.5rem;
        margin-top: 2rem;
    }
}