@media only screen and (min-width: 32.5em) { 
    header, nav, main, footer {
        max-width: 450px;
    }

    header, footer {
        box-shadow: 0 0 1em black, 0 0 2em #696969;
        border-radius: 10px;
    }

    header {
        display: grid;
        grid-template-columns: 150px auto;   
    }

    header img {
        max-width: 100%;
        margin: 0%;
    }

    header h1 {
        font-size: 2.5rem;
    }

    main h2 {
        font-size: 2rem ;
    }

    main nav ul {
        font-size: 1.5rem;
    }

    main p {
        font-size: 1rem;
    }

    footer p {
        font-size: 1rem ;
    }

    #little {
        font-size: 0.8rem;
    }
}
