* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: Acme, Arial, sans-serif;
}

h1 {
	font-size: 1rem;
	text-align: center;
	margin-top: 2rem;
}

main {
	margin: 1rem auto;
	border: 2px solid rgba(0, 0, 0, 0.3);
	padding: 2rem;
	background-color: lightskyblue;
	display: flex;
	flex-direction: column;
}
main div {
	display: flex;
	justify-items: center;
	text-align: center;
	justify-content: space-around;
}
input,
button {
	padding: 0.5rem;
}

main div button {
	min-width: 50px;
	margin: 0.3rem;
	padding: 0.2rem;
	font-size: 0.7rem;
}
main div label {
	min-width: 100px;
	margin: 0.1rem;
	padding: 0.1rem;
	font-size: 0.7rem;
	align-self: center;
}

input {
	display: flex;
	max-width: 70px;
	font-size: 0.9rem;
}

.list {
	padding: 0.5rem;
}

ul {
	margin: 1rem;
	list-style: none;
	border: 2px solid  rgba(0, 0, 0, 0.3);
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 700;
	margin-left: 0.4rem;
}
li button {
	color: red;
	font-weight: 700;
}

footer {
    margin-top: 100px;
}

footer hr {
    margin-bottom: 1rem;
}
